<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>按钮组</title>
    <link href="../static/css/common.css" rel="stylesheet">
    <link href="../static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../static/css/hxqheam-fonts.css" rel="stylesheet">
    <link href="../static/css/style.css?v=4.1.0" rel="stylesheet">
    <!-- 全局js -->
    <script src="../static/js/jquery.min.js?v=2.1.4"></script>
    <script src="../static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- 自定义js -->
    <script type="text/javascript" src="../static/js/common.js"></script>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <!-- 内容部分 -->
        <div id="wrapper">      
            <!-- 内容部分的导航对应内容 -->
            <div id="page-wrapper" class="J_iframe gray-bg dashbard-1"> 
              <div class="row J_mainContent" id="content-main">
                <div class="wrapper wrapper-content">
                 <div class="row">          
                    <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                    <div class="ibox-content">
                    <div class="row row-lg">
                    <div class="col-sm-12">
                    <div class="row">
                        <!-- 操作按钮 -->
                        <div class="fixed-table-toolbar">
                            <div class="bs-bars pull-left ml10">
                                <div class="hidden-xs" id="roleTableToolbar" role="group">
                                <button type="button" class="btn btn-green" onclick="" id="">
                                        <i class="icon-add"></i>&nbsp;添加
                               </button>
                                <button type="button" class="btn btn-bule button-margin" onclick="" id="">
                                    <i class="icon-edit"></i>&nbsp;修改
                                </button>
                                <button type="button" class="btn btn-red button-margin" onclick="" id="">
                                    <i class="icon-trash"></i>&nbsp;删除
                                </button>
                                <button type="button" class="btn btn-primarys button-margin" onclick="" id="">
                                    <i class="icon-key"></i>&nbsp;权限配置
                                </button>
                                <button type="button" class="btn btn-primarys button-margin" onclick="" id="">
                                    <i class="icon-data"></i>&nbsp;数据范围
                                </button>
                                <button type="button" class="btn btn-primarys button-margin" onclick="" id="">
                                    <i class="icon-data"></i>&nbsp;数据限制
                                </button>
                                <button type="button" class="btn btn-primarys button-margin" onclick="btn()" id="search">
                                    <i class="icon-search"></i>&nbsp;高级查询&nbsp;<i class="icon-arrow1-down"></i>&nbsp;
                                </button>
                                </div>    
                            </div>
                            <div class="columns columns-right btn-group pull-right mr10">
                                <button class="btn btn-default btn-outline" type="button" name="refresh" aria-label="refresh" title="刷新">
                                    <i class="glyphicon glyphicon-repeat"></i></button><div class="keep-open btn-group" title="列">
                                        <button type="button" aria-label="columns" class="btn btn-default btn-outline dropdown-toggle" data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-list"></i> 
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu mt5" role="menu">
                                            <li role="menuitem">
                                                <label>
                                                    <input id="idsss" type="checkbox" data-field="id" value="1" checked="checked"> ID
                                                </label>
                                            </li>
                                            <li role="menuitem">
                                                <label>
                                                    <input type="checkbox" data-field="name" value="2" checked="checked"> 菜单名称
                                                </label>
                                            </li>
                                            <li role="menuitem">
                                                <label>
                                                    <input type="checkbox" data-field="pName" value="3" checked="checked"> 菜单编号</label>
                                            </li>
                                            <li role="menuitem">
                                                <label>
                                                    <input type="checkbox" data-field="pName" value="3" checked="checked"> 菜单父编号</label>
                                            </li>
                                            <li role="menuitem">
                                                <label>
                                                    <input type="checkbox" data-field="pName" value="3" checked="checked"> 请求地址</label>
                                            </li>
                                            <li role="menuitem">
                                                <label>
                                                    <input type="checkbox" data-field="pName" value="3" checked="checked"> 排序</label>
                                            </li>
                                            <li role="menuitem">
                                                <label>
                                                    <input type="checkbox" data-field="pName" value="3" checked="checked"> 层级</label>
                                            </li>
                                            <li role="menuitem">
                                                <label>
                                                    <input type="checkbox" data-field="pName" value="3" checked="checked"> 是否是主菜单</label>
                                            </li>
                                            <li role="menuitem">
                                                <label>
                                                    <input type="checkbox" data-field="pName" value="3" checked="checked"> 状态</label>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    <!--高级查询-->
                    <div class="form-horizontal" id="box" style="display:none">
                        <div class="div-contents"  style="margin-top: 10px">
                        <div class="row row-lg">
                        <div class="col-sm-12">
                        <div class="form-horizontal search-content" id="generate">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">菜单名称</span>
                                        <input class="form-control search-input" id="author" name="author" type="text" style="border: 1px solid #D8DEE6;width: 180px;">
                                </div>
                            </div> 
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">层级</span>
                                        <input class="form-control search-input" id="author" name="author" type="text" style="border: 1px solid #D8DEE6;width: 180px;">
                                </div>
                            </div>                       
                        </div>

                        </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <!--高级查询-->
                    </div>
                    </div>  
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
    
</body>
</html>