<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>header</title>
    <link href="../static/css/common.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../static/css/hxqheam-fonts.css" rel="stylesheet">
    <link href="../static/css/style.css?v=4.1.0" rel="stylesheet">
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <!-- header -->
    <div class="heder">
        <div class="hederbg">
                <div class="logo"></div>
                <ul class="nav-head pull-left white">
                    <li><a href="my_app.html">应用中心</a></li>
                    <li><a href="#">程序设计器</a></li>
                    <li><a href="#">权限管理</a></li>
                    <li class="current"><a href="menu_manage.html">系统配置</a></li>
                </ul>
                <div class="nav-head pull-right nav-right">
                    <div class="userimg"><i class="icon-order-down"></i></div>
                    <div class="userInfo">Admin,您好</div>
                    <div class="lingdang">
                   <!--     <a href="" target="" title="待办任务">-->
                            <span class="tips_red" id="todotipscount">5</span>
                            <i class="icon-notice"></i> 
                    <!--    </a>-->
                    </div>
                </div>
                <div class="clear"></div>
            </div>
    </div>    
</body>
</html>