<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>菜单管理</title>
    <link href="../static/css/common.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../static/css/hxqheam-fonts.css" rel="stylesheet">
    <link href="../static/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <!-- 全局js -->
    <script src="../static/js/jquery.min.js?v=2.1.4"></script>
    <script src="../static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../static/js/plugins/layer/layer.js"></script>
    <script src="../static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../static/js/plugins/bootstrap-treetable/bootstrap-treetable.js"></script>
    <!-- 自定义js -->
    <script src="../static/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="../static/js/contabs.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <!-- tab-header -->
    <div class="content-tabs">
        <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
        </button>
        <nav class="page-tabs J_menuTabs">
            <div class="page-tabs-content">
                <a href="javascript:;" class="active J_menuTab" data-id="/blackboard">左侧导航</a>
            </div>
        </nav>
        <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
        </button>
        <div class="btn-group roll-nav roll-right">
            <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

            </button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right">
                <li class="J_tabShowActive"><a>定位当前选项卡</a>
                </li>
                <li class="divider"></li>
                <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                </li>
                <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                </li>
            </ul>
        </div>
        <a href="./login.html" class="roll-nav roll-right J_tabExit"><i class="icon-back"></i>返回</a>
    </div>
        
    </div>
    <!-- 内容部分 -->
        <div id="wrapper">    
        <!--内容部分左侧导航-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <div class="navbarbg">
                    <a class="navbar-minimalize minimalize-styl-2" href="#"><i class="icon-menu1"></i> </a>
                </div>
                <ul class="nav" id="side-menu">               
                    <li>
                        <a class="J_menuItem" href="/notice/hello" name="tabMenuItem">
                            <i class="icon-user"></i>
                            <span class="nav-label">用户管理</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/swagger-ui.html" name="tabMenuItem">
                            <i class="icon-role-site"></i>
                            <span class="nav-label">角色管理</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="./system/code/code.html" name="tabMenuItem">
                            <i class="icon-department"></i>
                            <span class="nav-label">部门管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-menu2"></i>
                            <span class="nav-label">菜单管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-wordbook"></i>
                            <span class="nav-label">字典管理</span>
                        </a>                        
                    </li>
                    <li>
                        <a class="J_menuItem" href="/notice/hello" name="tabMenuItem">
                            <i class="icon-log"></i>
                            <span class="nav-label">业务日志</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/swagger-ui.html" name="tabMenuItem">
                            <i class="icon-login-log"></i>
                            <span class="nav-label">登录日志</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="./system/code/code.html" name="tabMenuItem">
                            <i class="icon-monitor"></i>
                            <span class="nav-label">监控管理</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="./system/code/code.html" name="tabMenuItem">
                            <i class="icon-notice"></i>
                            <span class="nav-label">通知管理</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="./system/code/code.html" name="tabMenuItem">
                            <i class="icon-data"></i>
                            <span class="nav-label">数据库配置</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="./system/code/code.html" name="tabMenuItem">
                            <i class="icon-time"></i>
                            <span class="nav-label">定时任务</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="./system/code/code.html" name="tabMenuItem">
                            <i class="icon-word"></i>
                            <span class="nav-label">Word测试</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>         
</div>
</body>
</html>