<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>组件</title>
    <link href="../static/css/common.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link href="../static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="../static/css/plugins/bootstrap-treetable/bootstrap-treetable.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../static/css/mask_module.css?v=4.1.0" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../static/css/hxqheam-fonts.css" rel="stylesheet">
    <link href="../static/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="../static/css/hxqheam-fonts.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <!-- 全局js -->
    <script src="../static/js/jquery.min.js?v=2.1.4"></script>
    <script src="../static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../static/js/plugins/bootstrap-treetable/bootstrap-treetable.js"></script>
    <!-- 自定义js -->
    <script src="../static/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="../static/js/contabs.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <!-- 第三方插件 -->
    <script src="../static/js/plugins/pace/pace.min.js"></script>
     <script src="../static/js/plugins/laydate/laydate.js"></script>
     <script type="text/javascript">
         
    laydate.render({
        elem: '#beginTime'
    });
    
     </script>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    
    <!-- 内容部分 -->
        
             <div class="row">          
                <div class="col-sm-12">
                <div class="ibox float-e-margins">
                <div class="ibox-content">
                <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="accordion" id="information">
                                    <div class="mask_tab-block">
                                        <div class="mask_tab-head">
                                            <div class="accordion_title">
                                                <span class="accordion-toggle">页码
                                            </span></div>
                                            <div class="col_but"><i class="icon-arrow1-down"></i></div>
                                        </div>
                                        <div class="accordion-body tab-content" id="tab-content2">
                                            <div class="row-group">                       
                                                  <div style="margin-top: -12px;margin-bottom: 55px;" class="mr10">
                                                    <ul class="pagination">
                                                        <li><a href="#">上一页</a></li>
                                                        <li><a href="#">1</a></li>
                                                        <li><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">4</a></li>
                                                        <li><a href="#">5</a></li>
                                                        <li><a href="#">下一页</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                     
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="accordion" id="information">
                                <div class="mask_tab-block">
                                    <div class="mask_tab-head">
                                        <div class="accordion_title">
                                            <span class="accordion-toggle">输入框
                                        </span></div>
                                        <div class="col_but"><i class="icon-arrow1-down"></i></div>
                                    </div>
                                    <div class="accordion-body tab-content " id="tab-content2">
                                        <div class="row-group">                       
                                              <div class="input-group">
                                                <span class="input-group-addon">菜单名称</span>
                                                    <input class="form-control search-input" id="author" name="author" type="text" style="border: 1px solid #D8DEE6;width: 180px;">
                                            </div>
                                            <br/>
                                            <div class="input-group">
                                                <span class="input-group-addon">菜单名称</span>
                                                    <input class="form-control search-input" id="author" name="author" type="text" style="border: 1px solid #D8DEE6;width: 180px;" disabled="disabled">
                                            </div>
                                            <br/>
                                            <div class="input-group">
<label for="form-field-8">多行输入</label>
<textarea class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
</div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="accordion" id="information">
                                <div class="mask_tab-block">
                                    <div class="mask_tab-head">
                                        <div class="accordion_title">
                                            <span class="accordion-toggle">日期
                                        </span></div>
                                        <div class="col_but"><i class="icon-arrow1-down"></i></div>
                                    </div>
                                    <div class="accordion-body tab-content " id="tab-content2">
                                        <div class="row-group">                       
                                            <div class="input-group">
                                            <div class="input-group-btn">
                                                <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">日期
                                                </button>
                                            </div>
                                            <input type="text" class="form-control layer-date" id="beginTime" lay-key="1">
                                            </div>
                                                <br/>
                                            <div class="input-group">
                                            <div class="input-group-btn">
                                                <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">日期
                                                </button>
                                            </div>
                                            <input type="text" class="form-control layer-date" id="beginTime" lay-key="1" disabled="disabled">
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div> 
                    <!-- 第二行 -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="accordion" id="information">
                                    <div class="mask_tab-block">
                                        <div class="mask_tab-head">
                                            <div class="accordion_title">
                                                <span class="accordion-toggle">按钮
                                            </span></div>
                                            <div class="col_but"><i class="icon-arrow1-down"></i></div>
                                        </div>
                                        <div class="accordion-body tab-content" id="tab-content2">
                                            <div class="row-group">                       
                                                  <button type="button" class="btn btn-green" onclick="" id="">按钮1
                       </button>
                       <button type="button" class="btn btn-bule" onclick="" id="">按钮2
                       </button>
                       <button type="button" class="btn btn-red" onclick="" id="">按钮3
                       </button>
                       <button type="button" class="btn btn-primarys" onclick="" id="">按钮4
                       </button>

                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                     
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="accordion" id="information">
                                <div class="mask_tab-block">
                                    <div class="mask_tab-head">
                                        <div class="accordion_title">
                                            <span class="accordion-toggle">下拉框
                                        </span></div>
                                        <div class="col_but"><i class="icon-arrow1-down"></i></div>
                                    </div>
                                    <div class="accordion-body tab-content " id="tab-content2">
                                        <div class="row-group">                       
                                              <div class="form-group">
                                                <label class="col-sm-3 control-label">性别</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" id="sex" name="sex">                                <option value="1">男</option>
                                                                    <option value="2">女</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="input-group">
<label for="form-field-8">多行输入</label>
<textarea class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
</div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="accordion" id="information">
                                <div class="mask_tab-block">
                                    <div class="mask_tab-head">
                                        <div class="accordion_title">
                                            <span class="accordion-toggle">日期
                                        </span></div>
                                        <div class="col_but"><i class="icon-arrow1-down"></i></div>
                                    </div>
                                    <div class="accordion-body tab-content " id="tab-content2">
                                        <div class="row-group">                       
    <div class="input-group">
    <div class="input-group-btn">
        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">日期
        </button>
    </div>
    <input type="text" class="form-control layer-date" id="beginTime" lay-key="1">
</div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- 第二行 -->           
        </div>  
    </div>
</div>
</div>


    
</body>
</html>