<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>我的应用</title>

    <link rel="shortcut icon" href="${ctxPath}/static/favicon.ico">
    <link href="../static/css/my_app.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/hxqheam-fonts.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/common.css" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<div class="heder">
				<div class="logo"></div>
				<ul class="nav pull-left">
					<li class="current">应用中心</li>
					<li>程序设计器</li>
					<li>权限管理</li>
					<li>系统配置</li>
				</ul>
				<div class="nav pull-right nav-right">
					<div class="userimg"></div>
					<div class="userInfo">Admin,您好</div>
					<div class="lingdang"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="neirong">
		  	<div class="content-neirong">
		  		<div class="page-tabs-content">我的应用</div>
		  		<div class="roll-nav">
		  			<div class="todo">
		  				<span class="dian red"></span>
		  				<span>待办工作:</span>
		  				<span class="red_color">32件</span>
		  			</div>
		  			<div class="doing">
		  				<span class="dian bule"></span>
		  				<span>执行中:</span>
		  				<span class="bule_color">114件</span>
		  			</div>
		  			<div class="done">
		  				<span class="dian green"></span>
		  				<span>已办:</span>
		  				<span class="green_color">11件</span>
		  			</div>
		  		</div>
		  	</div>
		  		<!--模块-->
		  		<div class="row">
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				 	<div class="module_neirong">
			  				  <div class="module_picture"></div>
			  				  <div class="word">设备管理</div>
			  				</div>
		  				 </div>
		  			    </a>
		  			</div>
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				 	<div class="module_neirong">
			  				  <div class="module_picture"></div>
			  				  <div class="word">设备管理</div>
			  				</div>
		  			     </div>
		  				</a>
		  			</div>
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				 	<div class="module_neirong">
			  				  <div class="module_picture"></div>
			  				  <div class="word">设备管理</div>
			  				</div>
		  			     </div>
		  				</a>
		  			</div>
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				 	<div class="module_neirong">
			  				  <div class="module_picture"></div>
			  				  <div class="word">设备管理</div>
		  				  </div>
		  			     </div>
		  				</a>
		  			</div>
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				 	<div class="module_neirong">
		  				  		<div class="module_picture"></div>
		  				  		<div class="word">设备管理</div>
		  				  	</div>	
		  			     </div>
		  				</a>
		  			</div>
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				  <div class="module_neirong">	
		  				  	<div class="module_picture"></div>
		  				  	<div class="word">设备管理</div>
		  				  </div>
		  				 </div>
		  			    </a>
		  			</div>
		  		</div>
		  		
		  		<div class="row">
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				 	<div class="module_neirong">
			  				  <div class="module_picture"></div>
			  				  <div class="word">设备管理</div>
			  				</div>
		  				 </div>
		  			    </a>
		  			</div>
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				 	<div class="module_neirong">
			  				  <div class="module_picture"></div>
			  				  <div class="word">设备管理</div>
			  				</div>
		  			     </div>
		  				</a>
		  			</div>
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				 	<div class="module_neirong">
			  				  <div class="module_picture"></div>
			  				  <div class="word">设备管理</div>
			  				</div>
		  			     </div>
		  				</a>
		  			</div>
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				 	<div class="module_neirong">
			  				  <div class="module_picture"></div>
			  				  <div class="word">设备管理</div>
		  				  </div>
		  			     </div>
		  				</a>
		  			</div>
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				 	<div class="module_neirong">
		  				  		<div class="module_picture"></div>
		  				  		<div class="word">设备管理</div>
		  				  	</div>	
		  			     </div>
		  				</a>
		  			</div>
		  			<div class="col-sm-2">
		  				<a href="">
		  				 <div class="module">
		  				  <div class="module_neirong">	
		  				  	<div class="module_picture"></div>
		  				  	<div class="word">设备管理</div>
		  				  </div>
		  				 </div>
		  			    </a>
		  			</div>
		  		</div>
		  	<!--工作统计-->
		  	<div class="work">
				<div class="content-tab">
				   <div class="page-tabs-content">工作统计</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
					 <div class="dowork">
					 	<div class="header">
					 		<span class="title">工作完成情况</span>
					 		<span class="week">近一周</span>
					 	</div>
					 	<div class="header_number">
					 		<span class="num">257</span>
					 		<span class="num_title">工作总数</span>
					 		<span class="num_wait">待办工作:233</span>
					 		<span class="num_wait">执行中：23</span>
					 	</div>
					 </div>	
					</div>
					<div class="col-sm-3">
					 <div class="dowork">
					 	<div class="header">
					 		<span class="title">设备故障提报量</span>
					 		<span class="week">近一周</span>
					 	</div>
					 	<div class="header_number">
					 	  <div class="zong">
					 	  	<span class="zong_zi">总计</span>
					 	  	<span class="num">788</span>
					 	  </div>
					 	</div>
					 </div>	
					</div>
					<div class="col-sm-3">
					 <div class="dowork">
					 	<div class="header">
					 		<span class="title">注册用户人数</span>
					 	</div>
					 		<div class=" reg_number">
					 			<div class="use_num">
					 				<span class="user_title_num">启用人数</span>
					 				<span class="user_num">1110</span>
					 			</div>
					 			<div class="use_num zhong">
					 				<span class="user_title_num">已冻结人数</span>
					 				<span class="user_num">1110</span>
					 			</div>
					 			<div class="use_num">
					 				<span class="user_title_num">在线人数</span>
					 				<span class="user_num">1110</span>
					 			</div>
					 		</div>
					 </div>	
					</div>
					<div class="col-sm-3">
					 <div class=""></div>	
					</div>
				</div>
			</div>
			</div>
		</div>
	</body>
</html>
