<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>库存管理</title>
    <link href="../static/css/common.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link href="../static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../static/css/hxqheam-fonts.css" rel="stylesheet">
    <link href="../static/css/mask_module.css" rel="stylesheet">
    <link href="../static/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="./common/_container.html" rel="import">
    <link href="../static/css/hxqheam-fonts.css" rel="stylesheet">
    <link href="./common/_container.html" rel="import">
    <link href="../static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
     <!-- 全局js -->
    <script src="../static/js/jquery.min.js?v=2.1.4"></script>
    <script src="../static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../static/js/plugins/layer/layer.js"></script>
    <!-- 自定义js -->
    <script src="../static/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="../static/js/contabs.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <!-- 第三方插件 -->
    <script src="../static/js/plugins/pace/pace.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                // $.fn.zTree.init($("#deptTree"), setting, zNodes);

                $("navbar-static-side").height(document.body.clientHeight - 100);
                console.log(document.body.clientHeight - 100);
            });
        function openAddMgr() {
                //    layer.open({
                //    type: 2,
                //    area: ['80%', '85%'],
                //    title:,
                //    shadeClose: true, //点击遮罩关闭
                //    content:'http://127.0.0.1:8020/EMA2.0/views/user/user_add.html'
                //  });

                /*$(".mask").width(document.body.clientWidth);
                $(".mask").height(document.body.clientHeight);*/
                $(".mask").show();
                $(".mask_div").show();
                //放大
                $(".mask_anniu  .icon-maximization").on("click", function() {
                    $(".mask_div").width(document.body.clientWidth);
                    $(".mask_div").height(document.body.clientHeight - 60);
                    $(".mask_div").css("margin", "0%");
                    $(".mask_div").css("top", "60px");
                    $(".mask_max .mask_span i").toggleClass("icon-restore", );
                });
                //关闭
                $('.mask_anniu').on('click', '.icon-close1', function() {
                    $('.mask_div').hide();
                    $('.mask').hide();
                });
                //折叠icon-arrow1-down
                $('.col_but').on('click', '.icon-arrow1-down', function() {
                    $(this).toggleClass('icon-arrow1-up') /*达到切换背景箭头的效果*/
                    $(this).parent().parent().next().slideToggle();

                });

            }
    </script>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <!-- header -->
    <div>
        <div class="heder">
                <div class="logo"></div>
                <ul class="nav-head pull-left white">
                    <li class="current">
                        <a href="">应用中心</a>
                    </li>
                    <li>程序设计器</li>
                    <li>权限管理</li>
                    <li><a href="menu_manage.html">系统配置</a></li>
                </ul>
                <div class="nav-head pull-right nav-right">
                    <div class="userimg"></div>
                    <div class="userInfo">Admin,您好</div>
                    <div class="lingdang"></div>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <!-- tab-header -->
    <div class="content-tabs">
        <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
        </button>
        <nav class="page-tabs J_menuTabs">
            <div class="page-tabs-content">
                <a href="javascript:;" class="active J_menuTab" data-id="/blackboard">首页</a>
            </div>
        </nav>
        <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
        </button>
        <div class="btn-group roll-nav roll-right">
            <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

            </button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right">
                <li class="J_tabShowActive"><a>定位当前选项卡</a>
                </li>
                <li class="divider"></li>
                <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                </li>
                <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                </li>
            </ul>
        </div>
        <a href="./login.html" class="roll-nav roll-right J_tabExit"><i class="icon-back"></i>返回</a>
    </div>
        
    </div>
    <!-- 内容部分 -->
        <div id="wrapper">    
        <!--内容部分左侧导航-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <div class="navbarbg">
                    <a class="navbar-minimalize minimalize-styl-2" href="#"><i class="icon-menu1"></i> </a>
                </div>
                <ul class="nav" id="side-menu"> 
                    <li>
                        <a class="J_menuItem" href="/notice/hello" name="tabMenuItem">
                            <i class="icon-inventory-line"></i>
                            <span class="nav-label">库存</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/swagger-ui.html" name="tabMenuItem">
                            <i class="icon-inventory-line-requisition"></i>
                            <span class="nav-label">领料单</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="./system/code/code.html" name="tabMenuItem">
                            <i class="icon-inventory-line-code"></i>
                            <span class="nav-label">编码申请</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-inventory-line-callout"></i>
                            <span class="nav-label">调出单</span>
                            <!-- <span class="fa arrow"></span> -->
                        </a>
                        <ul class="nav nav-second-level">
                                    <li>
                                        <a class="J_menuItem" href="/mgr" name="tabMenuItem">用户管理</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/role" name="tabMenuItem">角色管理</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/dept" name="tabMenuItem">部门管理</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/menu" name="tabMenuItem">菜单管理</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/dict" name="tabMenuItem">字典管理</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/log" name="tabMenuItem">业务日志</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/loginLog" name="tabMenuItem">登录日志</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/druid" name="tabMenuItem">监控管理</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/notice" name="tabMenuItem">通知管理</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/dtobject" name="tabMenuItem">数据库配置</a>
                                    </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-inventory-line-callin"></i>
                            <span class="nav-label">调入单</span>
                            <!-- <span class="fa arrow"></span> -->
                        </a>
                        <!-- <ul class="nav nav-second-level">
                                    <li>
                                        <a class="J_menuItem" href="./404.html" name="tabMenuItem">流程管理</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="./404.html" name="tabMenuItem">模型管理</a>
                                    </li>

                        </ul> -->
                    </li>
                    <li>
                        <a class="J_menuItem" href="/notice/hello" name="tabMenuItem">
                            <i class="icon-inventory-line-return"></i>
                            <span class="nav-label">借用归还</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/swagger-ui.html" name="tabMenuItem">
                            <i class="icon-inventory-line-grant"></i>
                            <span class="nav-label">物资发放</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="./system/code/code.html" name="tabMenuItem">
                            <i class="icon-inventory-line-inventory"></i>
                            <span class="nav-label">库存盘点</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>        <!--左侧导航结束-->        
        <!-- 内容部分的导航对应内容 -->
        <div id="page-wrapper" class="J_iframe gray-bg dashbard-1"> 
          <div class="row J_mainContent" id="content-main">
            <div class="wrapper wrapper-content">
             <div class="row">          
                <div class="col-sm-12">
                <div class="ibox float-e-margins">
                <div class="ibox-content">
                <div class="row row-lg">
                <div class="col-sm-12">
                <div class="row">
                            <!-- 操作按钮 -->
                <div class="fixed-table-toolbar">
                    <div class="bs-bars pull-left ml5">
                        <div class="hidden-xs" id="roleTableToolbar" role="group">
                        <button type="button" class="btn btn-green" onclick="openAddMgr()" id="">
                                <i class="icon-add"></i>&nbsp;添加
                       </button>
                        <button type="button" class="btn btn-bule button-margin" onclick="" id="">
                            <i class="icon-edit"></i>&nbsp;修改
                        </button>
                        <button type="button" class="btn btn-red button-margin" onclick="" id="">
                            <i class="icon-trash"></i>&nbsp;删除
                        </button>
                        <button type="button" class="btn btn-primarys button-margin" onclick="" id="">
                            <i class="icon-upload-cloud"></i>&nbsp;导入
                        </button>
                        <button type="button" class="btn btn-primarys button-margin" onclick="" id="">
                            <i class="icon-download-cloud"></i>&nbsp;导出
                        </button>
                        <button type="button" class="btn btn-primarys button-margin" onclick="" id="">
                            <i class="icon-print"></i>&nbsp;打印
                        </button>
                        <button type="button" class="btn btn-primarys button-margin" onclick="btn()" id="search">
                            <i class="icon-search"></i>&nbsp;高级查询&nbsp;<i class="icon-arrow1-down"></i>&nbsp;
                        </button>
                        </div>    
                    </div>
                    <div class="columns columns-right btn-group pull-right mr10">
                        <button class="btn btn-default btn-outline" type="button" name="refresh" aria-label="refresh" title="刷新">
                            <i class="glyphicon glyphicon-repeat"></i></button><div class="keep-open btn-group" title="列">
                                <button type="button" aria-label="columns" class="btn btn-default btn-outline dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-list"></i> 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu mt5" role="menu">
                                    <li role="menuitem">
                                        <label>
                                            <input type="checkbox" data-field="id" value="1"> 编号
                                        </label>
                                    </li>
                                    <li role="menuitem">
                                        <label>
                                            <input type="checkbox" data-field="name" value="2" checked="checked"> 描述
                                        </label>
                                    </li>
                                    <li role="menuitem">
                                        <label>
                                            <input type="checkbox" data-field="pName" value="3" checked="checked"> 库房</label>
                                    </li>
                                    <li role="menuitem">
                                        <label>
                                            <input type="checkbox" data-field="deptName" value="4" checked="checked"> 货柜</label>
                                    </li>
                                    <li role="menuitem">
                                        <label>
                                            <input type="checkbox" data-field="companyName" value="5" checked="checked"> 库存余量</label>
                                    </li>
                                    <li role="menuitem">
                                        <label>
                                            <input type="checkbox" data-field="tips" value="6" checked="checked"> 预留</label>
                                    </li>
                                    <li role="menuitem">
                                        <label>
                                            <input type="checkbox" data-field="tips" value="6" checked="checked"> 日期</label>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
                <!-- <script type="text/javascript">
                    function btn(){
                        $("#box").toggle();
                        var search_icon = $("#search i").eq(1).attr("class");
                        // console.log(search_icon);
                        if (search_icon == "icon-arrow1-down") {
                            $("#search i").eq(1).removeClass();
                            $("#search i").eq(1).addClass("icon-arrow1-up");
                        }else{
                            $("#search i").eq(1).removeClass();
                            $("#search i").eq(1).addClass("icon-arrow1-down");
                        }
                        
                    }
                </script> -->
                <!--高级查询-->
                <div class="form-horizontal" id="box" style="display:none">
                    <div class="div-contents"  style="margin-top: 10px">
                    <div class="row row-lg">
                    <div class="col-sm-12">
                    <div class="form-horizontal search-content" id="generate">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">当前余量</span>
                                    <input class="form-control search-input" id="author" name="author" type="text" style="border: 1px solid #D8DEE6;width: 180px;">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">当前余量</span>
                                    <input class="form-control search-input" id="author" name="author" type="text" style="border: 1px solid #D8DEE6;width: 180px;">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">当前余量</span>
                                    <input class="form-control search-input" id="author" name="author" type="text" style="border: 1px solid #D8DEE6;width: 180px;">
                            </div>
                        </div>
                        
                    </div>

                    </div>
                    </div>
                    </div>
                    </div>
                </div>
                <!--高级查询-->
                <div style="margin-left: 17px;" class="fixed-table-container mr10 mt5">
                     <table style=""id="contentTable" class="table table-hover table-striped" >
                    <thead>
                        <tr>
                            <th class="bs-checkbox " style="width: 36px; " data-field="selectItem">
                                <div class="th-inner ">全部</div><div class="fht-cell" style="width: 36px;"></div>
                            </th>
                            <th style="" data-field="name">
                                <div class="th-inner sortable both asc">编号</div>
                                <div class="fht-cell" style="width: 103px;"></div>
                            </th>
                            <th style="" data-field="pName">
                                <div class="th-inner sortable both">描述</div>
                                <div class="fht-cell" style="width: 203px;"></div>
                            </th>
                            <th style=" " data-field="deptName">
                                <div class="th-inner sortable both">库房</div>
                                <div class="fht-cell" style="width: 203px;"></div>
                            </th>
                            <th style=" " data-field="companyName">
                                <div class="th-inner sortable both">货柜</div>
                                <div class="fht-cell" style="width: 104px;"></div>
                            </th>
                            <th style="" data-field="tips">
                                <div class="th-inner sortable both">库存余量</div><div class="fht-cell" style="width: 104px;"></div>
                            </th>
                            <th style="" data-field="tips">
                                <div class="th-inner sortable both">预留</div><div class="fht-cell" style="width: 104px;"></div>
                            </th>
                            <th style="" data-field="tips">
                                <div class="th-inner sortable both">日期</div><div class="fht-cell" style="width: 104px;"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bs-checkbox">
                                <input type="checkbox" id="checkall" name="checkall">
                            </td>
                            <td>TEM0001</td>
                            <td>代文字内容描</td>
                            <td>A-1库房</td>
                            <td>A-R1货柜</td>
                            <td>100</td>
                            <td>5</td>
                            <td>2018-10-16</td>
                        </tr>
                        <tr>
                            <td class="bs-checkbox">
                                <input type="checkbox" id="checkall" name="checkall">
                            </td>
                            <td>TEM0001</td>
                            <td>代文字内容描</td>
                            <td>A-1库房</td>
                            <td>A-R1货柜</td>
                            <td>100</td>
                            <td>5</td>
                            <td>2018-10-16</td>
                        </tr>
                        <tr>
                            <td class="bs-checkbox">
                                <input type="checkbox" id="checkall" name="checkall">
                            </td>
                            <td>TEM0001</td>
                            <td>代文字内容描</td>
                            <td>A-1库房</td>
                            <td>A-R1货柜</td>
                            <td>100</td>
                            <td>5</td>
                            <td>2018-10-16</td>
                        </tr>
                        <tr>
                            <td class="bs-checkbox">
                                <input type="checkbox" id="checkall" name="checkall">
                            </td>
                            <td>TEM0001</td>
                            <td>代文字内容描</td>
                            <td>A-1库房</td>
                            <td>A-R1货柜</td>
                            <td>100</td>
                            <td>5</td>
                            <td>2018-10-16</td>
                        </tr>
                        <tr>
                            <td class="bs-checkbox">
                                <input type="checkbox" id="checkall" name="checkall">
                            </td>
                            <td>TEM0001</td>
                            <td>代文字内容描</td>
                            <td>A-1库房</td>
                            <td>A-R1货柜</td>
                            <td>100</td>
                            <td>5</td>
                            <td>2018-10-16</td>
                        </tr>
                        <tr>
                            <td class="bs-checkbox">
                                <input type="checkbox" id="checkall" name="checkall">
                            </td>
                            <td>TEM0001</td>
                            <td>代文字内容描</td>
                            <td>A-1库房</td>
                            <td>A-R1货柜</td>
                            <td>100</td>
                            <td>5</td>
                            <td>2018-10-16</td>
                        </tr>
                        <tr>
                            <td class="bs-checkbox">
                                <input type="checkbox" id="checkall" name="checkall">
                            </td>
                            <td>TEM0001</td>
                            <td>代文字内容描</td>
                            <td>A-1库房</td>
                            <td>A-R1货柜</td>
                            <td>100</td>
                            <td>5</td>
                            <td>2018-10-16</td>
                        </tr>
                        <tr>
                            <td class="bs-checkbox">
                                <input type="checkbox" id="checkall" name="checkall">
                            </td>
                            <td>TEM0001</td>
                            <td>代文字内</td>
                            <td>A-1库房</td>
                            <td>A-R1货柜</td>
                            <td>100</td>
                            <td>5</td>
                            <td>2018-10-16</td>
                        </tr>
                        <tr>
                            <td class="bs-checkbox">
                                <input type="checkbox" id="checkall" name="checkall">
                            </td>
                            <td>TEM0001</td>
                            <td>代文字内容描</td>
                            <td>A-1库房</td>
                            <td>A-R1货柜</td>
                            <td>100</td>
                            <td>5</td>
                            <td>2018-10-16</td>
                        </tr>   
                    </tbody>
                </table>
                </div>
                <div style="float:left;margin-left: 17px;margin-top:10px;display: inline;">
                    <p>显示第1到15条记录，共43条记录</p>
                </div>
                <div style="margin-top: -12px;margin-bottom: 55px;" class="mr10 pull-right">
                    <ul class="pagination">
                        <li><a href="#">上一页</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">下一页</a></li>
                    </ul>
                </div>
            </div>
        </div>  
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
    
    <!-- 点击添加按钮的弹出框 -->
    <!-- <div class="row-fluid">
        <div id="modal-container-50148" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">
                        标题栏
                    </h3>
                </div>
                <div class="modal-body">
                    <p>
                        显示信息
                    </p>
                </div>
                <div class="modal-footer">
                     <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <button class="btn btn-primary">保存设置</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- 点击添加弹出框 -->
    <div class="mask" style="display:none;"></div>
        <div class="mask_div" style="display:none;">    
            <!---->
            <div class="mask_title_div clearfix">
                <div class="mask_title">库存详情</div>
                <div class="mask_anniu">
                    <span class="mask_span"><i class="icon-minimize"></i></span>
                    <span class="mask_span mask_max"><i class="icon-maximization"></i></span>
                    <span class="mask_span"><i class="icon-close1"></i></span>
                </div>
            </div>
            <div class="accordion" id="information">
            <div class="mask_tab-block">
            <div class="mask_tab-head clearfix">
                <div class="accordion_title">
                    <span class="accordion-toggle">基本信息</a>
                </div>
                <div class="col_but"><i class="icon-arrow1-down"></i></div>
            </div>
            <div class="accordion-body tab-content " id="tab-content2">
                <div class="row-group">
                
                    <div class="row row-groups">
                        <label class="col-sm-2" for="">所属组织</label>
                        <div class="col-sm-10">
                            <input id="" name="" maxlength="200" class="input-large" type="text" value="">
                       </div>
                    </div>
                    <div class="row control-label">
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">人员姓名</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                        </div>
                        
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">排序号</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                       </div>
                    </div>
                    <div class="row row-groups">
                        <label class="col-sm-2" for="">人员姓名</label>
                        <div class="col-sm-4">
                            <input id="" name="" maxlength="200" class="input-small" type="text" value="">
                       </div>
                       <label class="col-sm-2" for="">排序号</label>
                        <div class="col-sm-4">
                            <input id="" name="" maxlength="200" class="input-small" type="text" value="">
                       </div>
                    </div>
                    <div class="row row-groups">
                        <label class="col-sm-2" for="">登录名称</label>
                        <div class="col-sm-4">
                            <input id="" name="" maxlength="200" class="input-small" type="text" value="">
                      </div>
                       <label class="col-sm-2" for=""><font color="red">*</font>登录口令</label>
                        <div class="col-sm-4">
                            <input id="" name="" maxlength="200" class="input-small" type="text" value="">
                      </div>
                    </div>
                    <div class="row row-groups">                        
                        <label class="col-sm-2" for="">配置状态</label>
                        <div class="col-sm-4 editor-radio-group">
                                <span>
                                    <input id="pzzt01" name="pzzt" type="radio" value="否">
                                    <label for="pzzt01">否</label>
                                </span>
                                <span>
                                    <input id="pzzt02" name="pzzt" type="radio" value="是">
                                    <label for="pzzt02">是</label>
                                </span>
                                     
                            </div>
                        <label class="col-sm-2" for="">登录方式</label>
                        <div class="col-sm-4 editor-radio-group">
                                <span>
                                    <input id="" name="" type="checkbox" value="">
                                    <label for="">口令登录</label>
                                </span>
                                <span>
                                    <input id="" name="" type="checkbox" value="">
                                    <label for="">Ukey</label>
                                </span>
                                <span>
                                    <input id="" name="" type="checkbox" value="">
                                    <label for="">数字登录</label>
                                </span>
                        </div>
                           
                                            
                
                    </div>  
                </div>
              
            </div>
            </div>
            </div>
            
            <div class="accordion" id="information">
            <div class="mask_tab-block">
            <div class="mask_tab-head clearfix">
                <div class="accordion_title">
                    <span class="accordion-toggle">用户基本资料</a>
                </div>
                <div class="col_but"><i class="icon-arrow1-down"></i></div>
            </div>
            <div class="accordion-body in collapse tab-content " id="tab-content2">
                <div class="row-group">
                    <div class="row control-label">
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">用户称谓</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                        </div>
                        
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">出生日期</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                        </div>
                        
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">排序号</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                       </div>
                    </div>
                    
                    <div class="row control-label">
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">工号</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                        </div>
                        
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">入职日期</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                        </div>
                        
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">身份证号</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                        </div>
                    </div>
                    
                    <div class="row control-label">
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">默认身份</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                        </div>
                        
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">参加工作时间</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                        </div>
                        
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">电子邮箱</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                      </div>
                    </div>
                    
                    <div class="row control-label">
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">联系电话</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                        </div>
                        
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">手机号</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                        </div>
                        
                        <div class="col-sm-4">
                            <label class="col-sm-4" for="">传真号</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                      </div>
                    </div>
                    
                    <div class="row control-label">
                        <div class="col-sm-8">
                            <label class="col-sm-2" for="">地址</label>
                            <input id="" name="" maxlength="200" class="col-sm-10" type="text" value="">
                        </div>
                       
                        <div class="col-sm-4">
                            <label class="col-sm-4" for=""><font color="red">*</font>邮编</label>
                            <input id="" name="" maxlength="200" class="col-sm-8" type="text" value="">
                       </div>
                    </div>
                    <div class="row control-label">
                        <div class="col-sm-12">
                            <label class="col-sm-2" for="">备注</label>
                            <input id="" name="" maxlength="200" class="col-sm-10" type="text" value="">
                        </div>
                    </div>
                        
                </div>
              
            </div>
            </div>
            </div>
   
</body>
</html>