
.icon-order-down{
	position: absolute;
    color: #fff;
    width: 10px;
    height: 6px;
    font-size: 14px;
    left: 50px;
    top: 8px;
}
.page-tabs-content{
	width:72px;
	height:25px;
	font-size:18px;
	color:rgba(18,25,88,1);
	line-height:25px;
	float: left;
}
.roll-nav{
	float:right;
	margin-top:8px;
}
.roll-nav div{float:left;}
.dian{
	width:10px;
    height:10px;
    border-radius:10px;
    display: inline-block;
    margin-right: 5px;
}
.roll-nav div {
	height:17px;
	font-size:12px;
	font-family:PingFangSC-Regular;
	font-weight:400;
	color:rgba(151,163,180,1);
	line-height:17px;
}
.bule{
	background:rgba(70,128,255,1);
	
}
.red{
	background:rgba(255,102,99,1);
	
}
.green{
	background:rgba(162,171,191,1);
	
}
.bule_color{
	color:rgba(70,128,255,1);
}
.red_color{
	color:rgba(255,102,99,1);
}
.green_color{
	color:rgba(162,171,191,1);
}
.doing{
	margin-right:30px;
	margin-left: 30px;
}
.content-neirong{
    position: relative;
    height: 25px;
    font-size: 18px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(18,25,88,1);
    line-height: 25px;
}
.content-tab {
    height: 25px;
    font-size: 18px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(18,25,88,1);
    line-height: 25px;
}
.content-tabs div:after{
	clear: both;
}
.neirong{
	padding: 15px 20px;
}
.module{
	width:200px;
	height:120px;
	background:rgba(255,255,255,1);
	box-shadow:0px 1px 15px 1px rgba(176,192,237,0.42);
	border-radius:6px;
	display: block;
	position: relative;
	display: inline-block;
    text-align: center;
}

.module_picture{
	width: 56px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 10px 10px 30px 0px rgba(222,229,246,1);
    border: 2px solid #6585DF;
    border-radius: 50%;
    color: #6585DF;
    font-size: 25px;
    text-align: center;
    display: block;
    margin: 20px auto 10px auto;
}
.module_picture i{
	display: inline-block;
	padding-top:13px;
}

.word{
	 display: block;
	}
.row{
	margin-top: 10px;
}
/*工作统计*/
.work{
	margin-top:40px;
	margin-bottom: 50px;
}
.dowork{
	width:243px;
	height:149px;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 5px 2px rgba(176,192,237,0.1);
	border-radius:4px;
}
.dowork .header{
	padding-top: 18px;
}
.header .title{
	height:17px;
	font-size:13px;
	font-family:PingFangSC-Light;
	font-weight:300;
	color:rgba(76,96,114,1);
	line-height:17px;
	display: inline-block;
	
	margin-left:16px;
}
.header .week{
	height: 17px;
    font-size: 13px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(33,150,243,1);
    line-height: 17px;
    display: inline-block;
    position: absolute;
   
    left: 171px;

}

.header_number{
	width:49px;
	margin-left:16px;
	margin-top: 6px;
	
}
.num{
	width:49px;
	height:38px;
	font-size:27px;
	font-family:PingFangSC-Light;
	font-weight:300;
	color:rgba(51,51,51,1);
	line-height:38px;
	
}
.header_number .num_title{
	width:36px;
	height:13px;
	font-size:9px;
	font-family:PingFangSC-Light;
	font-weight:300;
	color:rgba(189,189,189,1);
	line-height:13px;
}
.num_wait{
	display: inline-block;
	width:84px;
	height:15px;
	font-size:11px;
	font-family:PingFangSC-Light;
	font-weight:300;
	color:rgba(51,51,51,1);
	line-height:15px;
}
.reg_number{
	margin-left:16px;
	margin-top: 6px;
}
.use_num{
	width:60px;
    float: left;
}
.use_num .user_num{
	
	width:17px;
	height:23px;
	font-size:16px;
	font-family:PingFangSC-Light;
	font-weight:300;
	color:rgba(51,51,51,1);
	line-height:23px;
}
.use_num .user_title_num{
	width:41px;
	height:13px;
	font-size:10px;
	font-family:PingFangSC-Light;
	font-weight:300;
	color:rgba(174,174,174,1);
	line-height:13px;
	
}
.zhong{
	margin-right: 20px;
    margin-left: 20px;
}
.zong{
	width:80px;
	height:38px;
	font-size:14px;
	font-family:PingFangSC-Light;
	font-weight:300;
	color:rgba(51,51,51,1);
	line-height:20px;
}
